:root {
    --black: #000000;
    --off-white: #f9fdfa;
    --bright-green: #51c366;
    --light-purple: #ba9ede;
    --pinkish-purple: #d077c5;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    color: var(--black);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../assets/images/dandelion.jpg') no-repeat center center fixed;
    background-size: cover;
    filter: blur(1px);
    z-index: -1;
}

header {
    background-color: var(--black);
    color: var(--off-white);
    text-align: center;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    padding: 40px;
    margin: 0 auto;
    max-width: 1200px;
}

.button-grid .btn {
    display: inline-block;
    background-color: var(--light-purple);
    color: var(--off-white);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-grid .btn:hover {
    background-color: var(--pinkish-purple);
}

footer {
    background-color: var(--black);
    color: var(--off-white);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}